.outer-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #1c7964;
    border-radius: 10px;
    padding: 10px 50px;
    font-size: larger;
    height: 85%;
    width: 35%;
}

h1{
    color: #4381ff;
    text-shadow: 2px 2px 2px #3461bb;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 20px;
    text-align: center;
}

.form-row{
    display: flex;
    margin-bottom: 50px;
}

label{
    width: 200px;
    margin-right: 20px;
}

input{
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    width: 400px;
}

input:focus{
    outline: none;
    border: 2px solid #4381ff;
}

.exp{
    height: 60px;
}

